[Unit]
Description=D-Bus System Message Bus Socket
# Do not stop on shutdown
DefaultDependencies=no
Wants=systemd-remount-fs.service
After=systemd-remount-fs.service

[Socket]
ListenStream=/run/dbus/system_bus_socket
